
.menu-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #e8e3e4, #faf2f5);
    background-size: cover;
  }
  

  .menu-card {
    width: 380px;
    padding: 30px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(10px); 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); 
    text-align: center;
  }

  .menu-title {
    font-size: 2.2rem;
    font-weight: bold;
    color: #1f1f1f;
  }
  
 
  .menu-subtitle {
    font-size: 1rem;
    color: #1d1c1c;
    margin-bottom: 20px;
  }
  

  .menu-buttons button {
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
  }

  .menu-buttons button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }
  